dist: xenial
language: c
os: linux
env:
  global:
    - NPROC="`nproc`"
    - JOBS=-j$((1+${NPROC}))
    - SETARCH=
matrix:
  include:
    # Intel, 64-bit, Little-endian
    - name: "amd64 (x86_64)"
    # Intel, 32-bit, Little-endian
    - name: i686
      env:
        - CFLAGS="-m32"
        - SETARCH="setarch i686 --verbose --3gb"
      before_install:
        - sudo apt-get update -yq
        # If you want to install some additonal dependencies,
        # run `apt-get -yq install foo:i386`.
        - |-
          sudo apt-get -yq install \
            gcc-multilib
    # ARM, 64-bit, Little-endian
    - name: "arm64 (aarch64)"
      arch: arm64
    # ARM, 32-bit, Little-endian
    - name: "arm32 (armv8l)"
      arch: arm64
      env:
        # https://packages.ubuntu.com/xenial/crossbuild-essential-armhf
        - CC=arm-linux-gnueabihf-gcc
        - SETARCH="setarch linux32 --verbose --32bit"
      before_install:
        - sudo dpkg --add-architecture armhf
        - sudo apt-get update -yq
        # There is no gcc-multilib on arm64.
        # https://packages.ubuntu.com/xenial/gcc-multilib
        # To run bin/hello, we need libc6:armhf deb package.
        # Check `ldd bin/hello`.
        # https://askubuntu.com/questions/133389
        - |-
          sudo apt-get -yq install \
            crossbuild-essential-armhf \
            libc6-dev:armhf
    # IBM, PowerPC, 64-bit, Little-endian
    - name: ppc64le
      arch: ppc64le
    # IBM, Z and LinuxONE, 64-bit, Big-endian
    - name: s390x
      arch: s390x
  allow_failures:
  fast_finish: true
install: true
before_script:
  - dpkg --print-architecture
  - dpkg --print-foreign-architectures
  - setarch --list
  - echo JOBS=${JOBS} TRAVIS_ARCH=${TRAVIS_ARCH} SETARCH=${SETARCH}
  - $SETARCH uname -a
  - id
  - gcc --version
script:
  - $SETARCH make $JOBS test
branches:
  only:
    - master
